USE [master]
GO
/****** Object:  Database [WindowFunctionsTrainingDB]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE DATABASE [WindowFunctionsTrainingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WindowFunctionsTrainingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server1\SQL\MSSQL16.MSSQLSERVER04\MSSQL\DATA\WindowFunctionsTrainingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WindowFunctionsTrainingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server1\SQL\MSSQL16.MSSQLSERVER04\MSSQL\DATA\WindowFunctionsTrainingDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WindowFunctionsTrainingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WindowFunctionsTrainingDB]
GO
/****** Object:  Table [dbo].[DeliveryTrips]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryTrips](
	[TripID] [int] IDENTITY(1,1) NOT NULL,
	[DriverName] [nvarchar](60) NOT NULL,
	[Depot] [nvarchar](30) NOT NULL,
	[RouteCode] [nvarchar](20) NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[DistanceKm] [decimal](8, 2) NOT NULL,
	[FuelLiters] [decimal](8, 2) NOT NULL,
	[PackagesDelivered] [int] NOT NULL,
	[DelayMinutes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TripID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](80) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[HireDate] [date] NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
	[PerformanceScore] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventorySnapshots]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventorySnapshots](
	[SnapshotID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseName] [nvarchar](30) NOT NULL,
	[ProductName] [nvarchar](60) NOT NULL,
	[Category] [nvarchar](30) NOT NULL,
	[SnapshotDate] [date] NOT NULL,
	[QuantityOnHand] [int] NULL,
	[UnitCost] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Inventor__664F570BC5619563] PRIMARY KEY CLUSTERED 
(
	[SnapshotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineReadings]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineReadings](
	[ReadingID] [int] IDENTITY(1,1) NOT NULL,
	[MachineCode] [nvarchar](20) NOT NULL,
	[ProductionLine] [nvarchar](30) NOT NULL,
	[ReadingTime] [datetime2](0) NOT NULL,
	[TemperatureC] [decimal](6, 2) NOT NULL,
	[VibrationMmS] [decimal](6, 2) NOT NULL,
	[OutputUnits] [int] NOT NULL,
	[DefectCount] [int] NOT NULL,
 CONSTRAINT [PK__MachineR__C80F9C6E0F8F9B83] PRIMARY KEY CLUSTERED 
(
	[ReadingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RaceResults]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceResults](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](50) NOT NULL,
	[AthleteName] [nvarchar](60) NOT NULL,
	[TeamName] [nvarchar](30) NOT NULL,
	[RaceDate] [date] NOT NULL,
	[FinishSeconds] [decimal](8, 2) NOT NULL,
	[Points] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesOrders]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesOrders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](80) NOT NULL,
	[SalesPersonID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Region] [nvarchar](30) NOT NULL,
	[ProductCategory] [nvarchar](40) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockPrices]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockPrices](
	[PriceID] [int] IDENTITY(1,1) NOT NULL,
	[Symbol] [nvarchar](10) NOT NULL,
	[PriceDate] [date] NOT NULL,
	[ClosePrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreTransactions]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreTransactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[ReferenceCode] [varchar](30) NOT NULL,
	[Branch] [nvarchar](30) NOT NULL,
	[Cashier] [nvarchar](60) NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[ProductCategory] [nvarchar](40) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ReferenceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentScores]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentScores](
	[ScoreID] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](80) NOT NULL,
	[ClassName] [nvarchar](40) NOT NULL,
	[ExamDate] [date] NOT NULL,
	[Score] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubscriptionPayments]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubscriptionPayments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](60) NOT NULL,
	[PlanName] [nvarchar](30) NOT NULL,
	[Country] [nvarchar](30) NOT NULL,
	[PaymentDate] [date] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Seats] [int] NOT NULL,
	[PaymentStatus] [nvarchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportTickets]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportTickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[TicketTitle] [nvarchar](100) NOT NULL,
	[AgentName] [nvarchar](60) NOT NULL,
	[TeamName] [nvarchar](30) NOT NULL,
	[Priority] [nvarchar](10) NOT NULL,
	[OpenedAt] [datetime2](0) NOT NULL,
	[ClosedAt] [datetime2](0) NULL,
	[ResolutionMinutes] [int] NULL,
	[SatisfactionScore] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](60) NOT NULL,
	[TaskTitle] [nvarchar](100) NOT NULL,
	[AssignedToEmployeeID] [int] NOT NULL,
	[CreatedDate] [date] NOT NULL,
	[CompletedDate] [date] NULL,
	[EstimatedHours] [decimal](6, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UtilityReadings]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtilityReadings](
	[UtilityReadingID] [int] IDENTITY(1,1) NOT NULL,
	[BuildingName] [nvarchar](40) NOT NULL,
	[MeterType] [nvarchar](20) NOT NULL,
	[ReadingDate] [date] NOT NULL,
	[Consumption] [decimal](10, 2) NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UtilityReadingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebsiteTraffic]    Script Date: 7/30/2026 12:03:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebsiteTraffic](
	[TrafficID] [int] IDENTITY(1,1) NOT NULL,
	[SiteName] [nvarchar](40) NOT NULL,
	[Channel] [nvarchar](30) NOT NULL,
	[VisitDate] [date] NOT NULL,
	[Sessions] [int] NOT NULL,
	[Conversions] [int] NOT NULL,
	[Revenue] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TrafficID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DeliveryTrips_Driver_Date]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_DeliveryTrips_Driver_Date] ON [dbo].[DeliveryTrips]
(
	[DriverName] ASC,
	[DeliveryDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_Department_Salary]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Department_Salary] ON [dbo].[Employees]
(
	[DepartmentID] ASC,
	[Salary] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InventorySnapshots_Warehouse_Product_Date]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_InventorySnapshots_Warehouse_Product_Date] ON [dbo].[InventorySnapshots]
(
	[WarehouseName] ASC,
	[ProductName] ASC,
	[SnapshotDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MachineReadings_Machine_Time]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_MachineReadings_Machine_Time] ON [dbo].[MachineReadings]
(
	[MachineCode] ASC,
	[ReadingTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RaceResults_Athlete_Date]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_RaceResults_Athlete_Date] ON [dbo].[RaceResults]
(
	[AthleteName] ASC,
	[RaceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SalesOrders_Region_Date]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrders_Region_Date] ON [dbo].[SalesOrders]
(
	[Region] ASC,
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SalesOrders_SalesPerson_Date]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_SalesOrders_SalesPerson_Date] ON [dbo].[SalesOrders]
(
	[SalesPersonID] ASC,
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StockPrices_Symbol_Date]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_StockPrices_Symbol_Date] ON [dbo].[StockPrices]
(
	[Symbol] ASC,
	[PriceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StoreTransactions_Branch_Cashier_Date]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_StoreTransactions_Branch_Cashier_Date] ON [dbo].[StoreTransactions]
(
	[Branch] ASC,
	[Cashier] ASC,
	[TransactionDate] ASC,
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StoreTransactions_Branch_Date]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_StoreTransactions_Branch_Date] ON [dbo].[StoreTransactions]
(
	[Branch] ASC,
	[TransactionDate] ASC,
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StudentScores_Class_Score]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_StudentScores_Class_Score] ON [dbo].[StudentScores]
(
	[ClassName] ASC,
	[Score] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SubscriptionPayments_Customer_Date]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubscriptionPayments_Customer_Date] ON [dbo].[SubscriptionPayments]
(
	[CustomerName] ASC,
	[PaymentDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SupportTickets_Team_Opened]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_SupportTickets_Team_Opened] ON [dbo].[SupportTickets]
(
	[TeamName] ASC,
	[OpenedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UtilityReadings_Building_Meter_Date]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_UtilityReadings_Building_Meter_Date] ON [dbo].[UtilityReadings]
(
	[BuildingName] ASC,
	[MeterType] ASC,
	[ReadingDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_WebsiteTraffic_Site_Channel_Date]    Script Date: 7/30/2026 12:03:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_WebsiteTraffic_Site_Channel_Date] ON [dbo].[WebsiteTraffic]
(
	[SiteName] ASC,
	[Channel] ASC,
	[VisitDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
ALTER TABLE [dbo].[SalesOrders]  WITH CHECK ADD  CONSTRAINT [FK_SalesOrders_Employees] FOREIGN KEY([SalesPersonID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[SalesOrders] CHECK CONSTRAINT [FK_SalesOrders_Employees]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_Tasks_Employees] FOREIGN KEY([AssignedToEmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_Tasks_Employees]
GO
USE [master]
GO
