<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="ConnectionString" value="Server=DESKTOP-CN0A7F8\MSSQLSERVER04;Database=SMS_DB;Trusted_Connection=True;TrustServerCertificate=True;"/>
		<add key="BackupFolder" value="C:\Backups1"/>
		<add key="LogFolder" value="C:\Backups1\Log1"/>
		<add key="BackupIntervalMinutes" value="1"/>
	</appSettings>
</configuration>